# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSVS specific temporary files
*.suo
*.user
*.sdf

# the project specfic
proj.win32/[dD]ebug/**
proj.win32/[rR]elease/**
proj.win32/bin/**
proj.win32/ipch/**
